<div class="absolute top-5 right-5">
    {% if session.flash_messages is defined %}
        {% for msg in session.flash_messages %}
            <div class="aviso m-2 flex items-center px-4 py-2 space-x-2 bg-white dark:bg-slate-900 border-2 border-emerald-500 text-white rounded">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                          clip-rule="evenodd"/>
                </svg>
                <span>{{ msg }}</span>
            </div>
        {% endfor %}
    {% endif %}

    {% if session.errors is defined %}
        {% for error_msg in session.errors %}
            <div class="aviso m-2 flex items-center px-4 py-2 space-x-2 bg-white dark:bg-slate-900 border-2 border-rose-500 text-white rounded">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                          d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                          clip-rule="evenodd"/>
                </svg>
                <span>{{ error_msg }}</span>
            </div>
        {% endfor %}
    {% endif %}
</div>

<script>
    setTimeout(() => esconderAvisos(), 3200);

    function esconderAvisos() {
        let avisos = document.querySelectorAll(".aviso");

        for (const aviso of avisos) {
            aviso.remove();
        }
    }
</script>